* * * * * curl -X POST https://api.laserbnk.com.br/api/run-command -H "Content-Type: application/json" -d '{"command": "app:verify-signature"}' >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
